body {margin: 0;
background-color: rgb(245, 245, 189);
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(207, 214, 99);
  
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {background-color: rgb(170, 158, 49);
color: dimgrey ;
border-bottom: 2px solid rgb(70, 68, 68);
}

ul.topnav li a.active {background-color: #7e6626;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;
  width: 100%;}
}


    

header{
    background-color: bisque;
    width: 100%;
    overflow: none;
    text-align: center;
}
.header1{
    border: none;
    background-color:rgb(180, 182, 76) ;
    font-size: 15px; 
    color: black;
    width: 50px;
    display: inline;
    text-align: center;
}
.navbar{
 width: 100%;
 height: 40%;
 background-color: wheat;
 color: black;
 font-size: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
ul.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(245, 234, 234);
}
ul.navbar li {float: right;
padding-left: 10px;
padding-right: 10px;
padding-top: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  width: 70%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 300px;
  overflow-y: auto;
  overflow-x: auto;
}

.dropdown-content:nth-child(5){
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  width: 40%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 300px;
  overflow-y: auto;
  overflow-x: auto;

}
.dropdown-content:nth-child(6){
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 300px;
  overflow-y: auto;
  overflow-x: auto;

}
.dropdown-content:nth-child(7){
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 300px;
  overflow-y: auto;
  overflow-x: auto;

}
@media only screen and(max-width:600px) {
  .dropdown-content{
    width: 30%;
  }
  
}


li.dropdown {
  display: inline-block;
}
ul.navbar li a {
  display: inline;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbardesc{
   
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 25px;
    font-size: 40px;
    text-align: center;
}
ul.navbar li a:hover:not(.wo){
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
i{
    color: rgba(80, 76, 76, 0.308);
}
.colomn{
    column-count: 2;
    column-width: 10px;
    column-fill: balance;
    padding-left: 15px;
    
}
.formdropdown{
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0 ;
  }
.formdropdown a{
  color: rgb(44, 42, 42);
  padding: 12px 16px;
  text-decoration: none;
  display: block !important;
  text-align: left;
  font-size: 12px !important;
}
.formdropdown a:hover{
    text-shadow: none !important;
    background-color: rgb(209, 203, 203);
    color: blanchedalmond !important;
}
.formdropdown a{
    text-decoration: none !important;
    color: black !important;
    
}
.formdown:hover .formdropdown{
  display: block;
}
.formdown{
    display: inline-block;
}
.formdown a:hover{
text-shadow: none !important;
cursor: pointer;
}

button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 60%;
    margin-top: 50px;
    background-color: yellow;
     color:black;
    border: none;
    border-radius: 5px;
    padding-top: 7px;
    cursor: pointer;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}


.kidpic:nth-child(even){
    float:right;
    margin-right: 10px;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    

}
.kidpic{
    float:left;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    
    
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30PX;
    
  }
  
  td, th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .write{
    font-style:italic ;
    font-size: 40px;
    font-weight: bold;
    text-shadow:2px 2px 10px black ;
    text-align: center;
    opacity: 0.1;
    
    
 
 }

 .chart{
    font-style:italic ;
    font-size: 60px;
    font-weight: bold;
    text-shadow:2px 2px 10px rgb(131, 184, 63) ;
    text-align: center;
    display: block;

    
    
    
    
 }


@media only screen and(max-width:600px) {
    .kidpic{
        width: 80%;
        margin: 0;
        
    }
    
}
@media only screen and(max-width:600px) {
  .kidpic:nth-child(even){
      width: 80%;
      margin: 0;
      
  }
  
}


.foot1{
  column-count: 3;
  column-width:15px ;
  background-color: rgba(234, 235, 192, 0.623); 
  width: 95%;
  height: 40%;
  
  
  
  
  
  }
  
  .center{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .foot2{
    
    padding-left: 30px;
    background-color: rgba(234, 235, 192, 0.623); 
    width: 93%;
    margin-bottom: 5px;
    height: 40%;
    
  
  }
  .newin{
    width: 500px;
    padding:10px 10px ;
    display: inline;
    float: left;
    height: 270px;
  }
  
  .trend{
    padding:10px 10px ;
    display: inline;
    float: left;
    width: 500px;
    height: 270px;
  }
  .cloth{
    padding:5px  ;
    display: inline;
    float: left;
    width: 300px;
    height: 200px;
    
  }
  @media only screen and(max-width:600px){
    .cloth{
      display: block;
    }
    
  }
  .dress1{
    padding:5px; 
    display:inline;
    float: left;
    width: 300px;
    height: 200px;
    
  }
  .dress2{
    display: inline;
    float: right;
    
    width: 300px;
    height: 200px;
  
  }
  .shoe{
    float: left;
    display: inline ;
    width: 300px;
    height: 200px;
  }
  .accessory{
    float:right;
    
    display:inline;
    padding-top: 2px;
    width: 40%;
    height: 200px;
  }
  @media only screen and(max-width:600px){
    .accessory{
      display: block;
      float: none;
    }
    
  }
  .beauty{
    
    float: right;
    width: 45%;
    height: 300px;
  }
  .sale{
    float:left;
    width: 70%;
    height: 200px;
  
  }